.Container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7em;
    font-size: 20px;
}



.Container3 span {
    color: purple;
}