/*===================Nav Bar====================*/

.navContainer {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    width: 80%;
    height: 40px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    margin-left: 9.5em;
    backdrop-filter: blur(10px);
    z-index: 1000;  /*high enough above other elements to keep its effect*/
}

picture img {
    width: 25px;
    height: 25px;
    color: purple;
}

picture {
    margin-right: 0.5em;
}

.navSection1 a {
    display: flex;
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.navContainer button {
    margin-right: 10px;
}

.navSection2 {
    display: flex;
}

.navSection2 a {
    text-decoration: none;
    color: black;
}

a {
    padding: 1.5em;
}

.navSection3 {
    display: flex;
    
}

.button1 {
    width: 70px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color:slategrey;
}

.button2 {
    width: 110px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: purple;
    color: white;
    font-weight: bold;
}

.navSection2 span {
    font-weight:600;
}

.title {
    font-weight: bolder;
    font-size: large;
}